.contact-section {
    padding-top: 180px;
}

.contact-section .contact-links:hover,
.contact-section .contact-links:hover .icons {
    color: var(--secondary-color);
}

.contact-section .icons {
    color: var(--primary-color);
    font-size: 18px;
}

.contact-section .contact-desc {
    font-size: 18px;
    font-weight: bold;
    color: var(--primary-color);
}

.contact-section .contact__bottom .social-icon {
    background: var(--secondary-color);
    color: var(--white-color);
    width: 30px;
    padding: 3.5px 5px;
    text-align: center;
    transition: all .3s ease-in-out;
}

.contact-section .contact__bottom .social-icon:hover {
    color: var(--primary-color);
}

.contact-section .contact-map {
    border-radius: 10px;
}

@media screen and (max-width: 575px) {
    .contact-section {
        padding-top: 80px;
    }

    .contact-section .map-section {
        padding: 0;
    }

    .contact-section .contact-map {
        border-radius: 0;
    }
}