.hero-section {
    margin-top: 70px;
}

.hero-section .carousel-inner .carousel-item {
    height: 837px;
}

.hero-section .carousel-inner .carousel-item .slider-images {
    width: 100%;
    height: 837px;
    object-fit: cover;
}

.hero-section .carousel-inner .carousel-item::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--black-color);
    opacity: 0.6;
}

.hero-section .carousel-inner .carousel-caption {
    position: absolute;
    bottom: 150px;
    color: var(--white-color);
    left: 0;
    right: 0;
    z-index: 1;
}

.hero-section .carousel-inner .carousel-btn {
    width: 180px;
    padding: 6px;
    margin-top: 120px;
    background: transparent;
    font-weight: bold;
    border-radius: 5px;
    margin-right: 10px;
    border: 1px solid var(--white-color);
    color: var(--white-color);
    transition: all .3s ease-in-out;
}

.hero-section .carousel-inner .carousel-btn:hover {
    background: var(--primary-color);
    border: 1px solid var(--primary-color);
    letter-spacing: 1.5px;
}

.hero-section .icons {
    font-size: 30px;
    display: none;
}

.hero-section .bg-color {
    border: none;
    fill: var(--secondary-color);
    opacity: 1;
    transition: all .3s ease-in-out;
}

.hero-section .bg-color:hover {
    fill: var(--primary-color);
}

.hero-section .bg-color {
    border: none;
    fill: var(--secondary-color);
    opacity: 1;
    transition: all .3s ease-in-out;
}

.hero-section .bg-color:hover {
    fill: var(--primary-color);
}

.hero-section .carousel-inner .carousel-caption ul li {
    list-style-position: inside;
}

@media screen and (max-width: 575px) {
    .hero-section .carousel-inner .carousel-btn {
        margin-right: 8%;
    }

    .hero-section .carousel-indicators {
        margin-left: 8%;
    }

    .hero-section .carousel-inner .carousel-btn {
        margin-top: 70px;
    }

    .hero-section .carousel-inner .carousel-item {
        height: 750px;
    }

    .hero-section .carousel-inner .carousel-caption {
        bottom: 190px;
    }

    .hero-section .carousel-inner .carousel-caption h1 {
        font-size: 25px;
        line-height: 36px;
    }

    .hero-section .carousel-inner .carousel-caption p {
        font-size: 14px;
    }

    .hero-section .carousel-inner .carousel-caption ul {
        padding: 0;
    }

    .hero-section .carousel-inner .carousel-caption ul li {
        font-size: 14px;
    }

    .hero-section .carousel-inner .carousel-item .slider1 {
        object-position: center right;
    }
}

@media screen and (max-width: 425px) {
    /* .hero-section .carousel-inner .carousel-caption {
        bottom: 150px;
    } */

    .hero-section .carousel-inner .carousel-btn {
        margin-left: 25px;
    }

    .hero-section .carousel-inner .carousel-caption h1 {
        font-size: 26px;
    }

    .hero-section .carousel-inner .carousel-caption p {
        font-size: 14px;
    }

    .hero-section .carousel-inner .carousel-caption ul li {
        font-size: 12px;
    }
}

@media screen and (max-width: 375px) {
    .hero-section .carousel-inner .carousel-caption h1 {
        font-size: 22px;
    }

    .hero-section .carousel-inner .carousel-btn {
        margin-left: 20px;
    }
}

@media screen and (max-width: 320px) {
    .hero-section .carousel-inner .carousel-btn {
        margin-left: 15px;
    }

    .hero-section .carousel-inner .carousel-caption h1 {
        font-size: 20px;
    }

    .hero-section .carousel-inner .carousel-caption p {
        font-size: 13px;
    }

    .hero-section .carousel-inner .carousel-caption ul li {
        font-size: 10px;
    }
}