.main-header .header-logo {
    width: 140px;
}

.main-header ul li a {
    color: var(--primary-color);
}

.main-header ul li a:hover {
    color: var(--secondary-color);
}

.main-header .header-bell-icon {
    border: none;
    background: transparent;
}

.main-header .header-btn {
    border: none;
    background: var(--secondary-color);
    color: var(--white-color);
    width: 150px;
    padding: 5px;
    border-radius: 5px;
    transition: all .3s ease-in-out;
}

.main-header .header-btn:hover {
    background: var(--primary-color);
}

@media screen and (max-width: 425px) {
    .main-header .header-logo {
        width: 120px;
    }

    .main-header .navbar-toggler-icon {
        width: 25px;
    }
}