.course-section {
    background: var(--primary-color);
    padding-bottom: 100px;
    scroll-margin-top: 100px;
}

.course-section .top-cards {
    margin-top: -55px;
    z-index: 1;
    position: relative;
    margin-right: auto !important;
}

.course-section .courses-card .card-btn {
    background: var(--secondary-color);
    color: var(--white-color);
    width: 150px;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid var(--secondary-color);
    transition: all .3s ease-in-out;
}

.course-section .courses-card .card-btn:hover {
    background: var(--primarylight-color);
    border: 1px solid var(--primary-color);
    letter-spacing: 1px;
}

.course-section .courses-card {
    width: 320px;
    height: 100%;
    border: 1px solid var(--white-color);
    border-radius: 10px;
    background: transparent;
}

.course-section .courses-bottom-card {
    width: 224px;
    min-height: 260px;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    background: transparent;
    margin: 0 auto;
}

.course-section .courses-bottom-card .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.course-section .courses-bottom-card .card-btn {
    background: var(--secondary-color);
    color: var(--white-color);
    width: 150px;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid var(--secondary-color);
    transition: all .3s ease-in-out;
}

.course-section .courses-bottom-card .card-btn:hover {
    background: var(--primarylight-color);
    border: 1px solid var(--primary-color);
    letter-spacing: 1px;
}

.course-section .owl-carousel .owl-nav button {
    display: none;
}

.course-section .owl-nav .owl-btns {
    border: none;
    background: none;
    position: absolute;
    font-size: 30px;
}

.owl-nav .left_arrow-btn {
    left: -75px;
    top: -225px;
}

.owl-nav .right_arrow-btn {
    right: -35px;
    top: -225px;
}

.course-section .owl-nav .left_arrow-btn,
.right_arrow-btn {
    color: var(--secondary-color);
    transition: all .3s ease-in-out;
}

.course-section .owl-nav .left_arrow-btn:hover {
    color: var(--secondary-color);
}

.course-section .owl-nav .right-icon:hover {
    color: var(--secondary-color);
}

.course-section .owl-carousel {
    padding-left: 53px;

}

/* @media screen and (max-width: 1399px) {
    .owl-nav .left_arrow-btn {
        left: -10px;
        top: -225px;
    }
} */

@media screen and (max-width: 1366px) {
    .course-section .owl-nav .owl-btns {
        position: static;
    }
}

/* @media screen and (min-width: 992px) and (max-width: 1199px) {
    .course-section .owl-carousel {
        padding: 0 65px;
    }

    .owl-nav .right_arrow-btn {
        right: -10px;
        top: -225px;
    }
} */

/* @media screen and (min-width: 768px) and (max-width: 991px) {
    .course-section .owl-carousel {
        padding: 0 115px;
    }

    .course-section .owl-carousel .item {
        margin: 0 auto;
    }
} */

@media screen and (max-width: 425px) {
    .course-section .owl-carousel {
        padding-left: 30px;
    }
}

@media screen and (max-width: 385px) {
    .course-section .courses-card {
        width: 100%;
    }
}