.gallery-section {
    margin-top: 150px;
    scroll-margin-top: 70px;
}

.gallery-section .icons {
    font-size: 30px;
    color: var(--primary-color);
}

.gallery-section .left_arrow-icon {
    border: none;
    background: transparent;
    transition: all .3s ease-in-out;
    fill: var(--primary-color);
}

.gallery-section .icons .bg-color {
    fill: var(--primary-color);
    transition: all .3s ease-in-out;
}

.gallery-section .icons .bg-color:hover {
    fill: var(--secondary-color);
}

.gallery-section .right_arrow-icon {
    border: none;
    background: transparent;
    transition: all .3s ease-in-out;
    fill: var(--primary-color);
}

.gallery-section .carousel-inner .carousel-item .gallery_image {
    background-size: cover;
}

.gallery-section .carousel-inner {
    border-radius: 10px;
}

@media screen and (max-width: 575px) {
    .gallery-section {
        margin-top: 80px;
    }

    .gallery-section .container {
        padding: 0;
    }

    .gallery-section .icons {
        font-size: 28px;
    }

    .gallery-section .carousel-inner {
        width: 100% !important;
        border-radius: 0;

    }
}