.gallery-section {
    margin-top: 150px;
    scroll-margin-top: 80px;
}

.gallery-section .icons {
    font-size: 30px;
    color: var(--primary-color);
}

.gallery-section .left_arrow-icon {
    border: none;
    background: transparent;
    transition: all .3s ease-in-out;
    fill: var(--primary-color);
}

.gallery-section .icons .bg-color {
    fill: var(--primary-color);
    transition: all .3s ease-in-out;
}

.gallery-section .icons .bg-color:hover {
    fill: #EF475F; 
}

.gallery-section .right_arrow-icon {
    border: none;
    background: transparent;
    transition: all .3s ease-in-out;
    fill: var(--primary-color);
}

.gallery-section .carousel-inner .carousel-item {
    height: 650px;
}

.gallery-section .carousel-inner .carousel-item .gallery_image {
    height: inherit;
    background-size: cover;
}

.gallery-section .carousel-inner {
    border-radius: 5px;
}

@media screen and (max-width: 767px) {
    .gallery-section .carousel-inner .carousel-item  {
        height: 550px;
    }
}

@media screen and (max-width: 428px) {
    .gallery-section .carousel-inner .carousel-item  {
        height: 320px;
    }
}