.main-footer {
    background: var(--primary-color);
    padding: 100px 0 50px;
    color: var(--white-color);
}

.main-footer .footer-description {
    text-align: justify;
}

.main-footer .footer_quick-links {
    line-height: 42px;
}

.main-footer .footer_quick-links ul li {
    list-style-type: none;
}

.main-footer .footer_contact-info {
    line-height: 26px;
}

.main-footer a {
    text-decoration: none;
    color: var(--white-color);
}

.main-footer a:hover {
    color: var(--secondary-color);
}

.main-footer .footer-btn {
    border: none;
    background: var(--secondary-color);
    color: var(--white-color);
    width: 170px;
    padding: 5px;
    border-radius: 5px;
    transition: all .3s ease-in-out;
}

.main-footer .footer-btn:hover {
    background: var(--primarylight-color);
}

.main-footer .footer-icons .icon {
    border: 1px solid var(--secondary-color);
    background: var(--secondary-color);
    padding: 4px 6px;
    transition: all .3s ease-in-out;
}

.main-footer .footer-icons .icon:hover {
    color: var(--primary-color);
}

.main-footer .footer_bottom-span {
    padding-top: 100px;
    opacity: 0.6;
}



@media screen and (max-width: 425px) {
    .main-footer {
        padding-top: 50px;
    }

    .footer-logo {
        width: 200px;
    }

    .footer-description {
        font-size: 14px;
    }

    .footer_quick-links h5 {
        font-size: 16px;
    }

    .footer_quick-links ul li {
        font-size: 14px
    }

    .footer_contact-info h5 {
        font-size: 16px;
    }

    .footer_contact-info p {
        font-size: 14px;
        word-break: break-all;
    }
}